.olv{
    cursor: pointer;
}
.olv:hover{
    color: green;
    font-weight: 700;
}
.login {
    min-height: 100vh;
}
.row{
    height: 100vh;
}
.card{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 500px;
    max-height: 500px;
    margin: auto;
}