<div class="container-fluid bg-dark login">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card h-auto">
                <div class="card-body p-5">
                    <h3 class="card-title">
                        REGISTRO
                    </h3>
                    <form [formGroup]="registroForm" (ngSubmit)="submit(registroForm)" class="editForm w-100" novalidate>
                        <div class="form-group">
                            <label>Usuario</label>
                            <input type="email" class="form-control" formControlName="username" title="Usuario" />
                            <div class="alert alert-danger" [hidden]="f['username'].untouched || f['username'].valid">Usuario es requerido</div>
                        </div>
                        <div class="form-group">
                            <label>Nombre Completo</label>
                            <input type="text" class="form-control" formControlName="fullName" title="Usuario" />
                            <div class="alert alert-danger" [hidden]="f['fullName'].untouched || f['fullName'].valid">Nombre completo es requerido</div>
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input type="password" class="form-control" formControlName="password" title="Password">
                            <div class="alert alert-danger" [hidden]="f['password'].untouched || f['password'].valid">Password es requerido</div>
                        </div>
                        <div class="form-group">
                            <label>Repetir contraseña</label>
                            <input type="password" class="form-control" formControlName="rePassword" title="Repetir password">
                            <div class="alert alert-danger" [hidden]="f['rePassword'].untouched || f['rePassword'].valid">Repetir password es requerido</div>
                        </div>
                        
                        <button type="submit" class="btn btn-success mt-3" [disabled]="!registroForm.valid">Registrarse</button>
                        <button type="button" class="btn btn-danger mt-3" (click)="cancelRegistro()">Cancelar</button>
                        <div class="alert alert-success" *ngIf="successMessage && !errorMessage">
                            {{ successMessage }}
                            <hr>
                            <button type="button" class="btn btn-link" (click)="cancelRegistro()">Iniciar sesión</button>
                        </div> 
                        <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>  
                    </form>
                </div>                
            </div>             
        </div>    
    </div> 
</div>